body {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'sans-serif';
}

#game {
  display: flex;
}

#prize,
#leftcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#leftcol > *:not(:nth-child(1)) {
  margin-top: 15px;
}
